* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    background: #ececec;
    color: #353535;
}

h1 {
    text-align: center;
    font-size: 3.8em;
}

#stopwatch {
    height: 50vh;
    margin: auto;
    position: relative;
}
#stopwatch-container {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#display {
    text-align: center;
    font-size: 5em;
}

.btn-container {
    text-align: center;
}
.btn {
    margin: 1em;
    height: 3.5em;
    width: 7em;
    font-size: 2em;
    font-weight: 600;
    background: none;
    border: 8px solid #ececec;
    outline: none;
    cursor: pointer;
}
.neumorphic-shadows {
    border-radius: 25px;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12);
}
.neumorphic-shadows:active {
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255,255,255,0.5), inset 10px 10px 15px rgba(70,70,70,0.12);
}
